<p>display works!</p>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jokeTeller</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container" >
        <div class="row mb-3" *ngIf="showDiv">
            <div class="col">
                <div class="card border-info text-center" style="border-radius: 15px;">
                    <div class="card-header">
                      Your Joke is Here
                    </div>
                    <div class="card-body">
                        <div *ngIf="jokes?.type!='twopart'">
                            <p class="card-text">{{jokes.joke}}</p>
                        </div>
                        <div *ngIf="jokes?.type=='twopart'">
                          <p class="card-text">{{jokes.setup}}</p>
                          <button *ngIf="!showDelivery" class="btn btn-primary"(click)="showDelivery=!showDelivery">Show answer</button>
                          <div *ngIf="showDelivery">
                            <p class="card-text">{{jokes.delivery}}</p>
                          </div>
                        </div>
                    </div>
                    <div *ngFor="let j of jokes?.jokes;let i=index">
                        <!-- <li>{{j.setup}}</li> -->
                        <div class="card-body">
                            <div *ngIf="j.type!='twopart'">
                                <p class="card-text">{{j.joke}}</p>
                            </div>
                            <div *ngIf="j.type=='twopart'">
                              <p class="card-text">{{j.setup}}</p>
                              <button *ngIf="j.delivery&&choosenIndex!=i" class="btn btn-primary" (click)="showJokeDelivery(i)">Show answer</button>
                              <div *ngIf="choosenIndex==i">
                                <p class="card-text">{{j.delivery}}</p>
                              </div>
                            </div>
                          </div> <hr> 
                    </div>
                 </div>
            </div>
        </div>
        {{jokes|json}}
    </div>

</body>

</html>